<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new user!</title>
</head>
<body>
<br>
<form th:action="@{saveuser}" th:object="${user}" method="post">

    <label for="username">Enter name: </label><input type="text" th:field="*{username}" id="username"/>
    <br><br>
    <label for="password">Enter password: </label><input type="password" th:field="*{password}"  id="password"/>
    <br><br>
    <label for="email">Enter email: </label><input type="email" th:field="*{email}"  id="email"/>
    <br><br>
    <p>
        Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${allRoles}"
               th:text="${role.name}"
               th:value="${role.id}"
               th:field="*{roles}"
        />
    </p>
    <input type="submit" value="Create">

</form>
<br /><br />
<div th:insert="footer :: logout"></div>
</body>
</html>
